#textdomain wesnoth-Tribe_of_the_North

[era]
    id=era_TOTN_{TRIBES_OF_THE_NORTH_VERSION}
    name= _ "Tribes of the North"
    require_era=yes

    {RANDOM_SIDE}
    {TOTN_SIDE TOTN north_human}
    {TOTN_SIDE TOTN loyalist_settlers}
    {TOTN_SIDE TOTN orc_plunderers}
    {TOTN_SIDE TOTN zomzink_undeads}
[/era]

[era]
    id=era_default_and_TOTN_{TRIBES_OF_THE_NORTH_VERSION}
    name= _ "Default + TotN"
    require_era=yes

    {RANDOM_SIDE}
    {TOTN_SIDE TOTN north_human}
    {TOTN_SIDE TOTN loyalist_settlers}
    {TOTN_SIDE TOTN orc_plunderers}
    {TOTN_SIDE TOTN zomzink_undeads}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
[/era]